pre
  code
    color gray !important

.main
  padding 2rem !important

.menu
  margin-top: 10px;
  font-size 1rem

  a
    color black
    text-decoration inherit !important

    &.current
      color white !important
      font-size 0.9rem

    &:hover &:visited &:active &:link
      text-decoration inherit !important


  ul
    margin 0
    padding 0
    padding-left: 10px;

    li
      list-style-type none

      &.current
        padding 10px
        background-color black
        border-radius 10px