pre code {
  color: #808080 !important;
}
.main {
  padding: 2rem !important;
}
.menu {
  margin-top: 10px;
  font-size: 1rem;
}
.menu a {
  color: #000;
  text-decoration: inherit !important;
}
.menu a.current {
  color: #fff !important;
  font-size: 0.9rem;
}
.menu a:hover .menu a:visited .menu a:active .menu a:link {
  text-decoration: inherit !important;
}
.menu ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}
.menu ul li {
  list-style-type: none;
}
.menu ul li.current {
  padding: 10px;
  background-color: #000;
  border-radius: 10px;
}
